<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>面向服装推荐的语音问答系统</title>
  <link href="index.css" type="text/css" rel="stylesheet"></link>
</head>

<body>
<div>
  <div class="service-item service-item-taste">
    <h2 class="service-item-title">产品体验:面向服装推荐的语音问答系统</h2>
    <div class="service-item-content service-item-taste-content">
      <div class="taste-content">
        <button class="taste-button ready-button" id="taste_button">开始识别</button>
      </div>
      <div class="start-taste">
        <div class="start-taste-left">
          <div class="time-box">
            <span class="start-taste-line">
              <hr class="hr hr1">
              <hr class="hr hr2">
              <hr class="hr hr3">
              <hr class="hr hr4">
              <hr class="hr hr5">
              <hr class="hr hr6">
              <hr class="hr hr7">
              <hr class="hr hr8">
              <hr class="hr hr9">
              <hr class="hr hr10">
            </span>
            <span class="total-time"><span class="used-time">00: 00</span> / 01: 00</span></span>
          </div>
          <div class="start-taste-button">
            <button class="taste-button start-button" >结束识别</button>
          </div>
        </div>
        <div class="output-box" id="result_output"></div>
        <button type="submit" id="submit" >发送</button>
      </div>
    </div>
  </div>
</div>
<script src="./js/hmac-sha256.js"></script>
<script src="./js/enc-base64-min.js"></script>
<script src="./js/jquery.js"></script>
<script src="./js/index.js"></script>

<script>
  $("#submit").click(function () {
    var data = document.getElementById("result_output").innerText;
    $.ajax({
      url: "http://localhost:8080/test/result",
      async: false,
      type: "POST",
      data:{"result": data},
      dataType: "json",
      success:function (d) {
        console.log(d);
        alert("success!");
      },
      //error:function () {
        //alert("Get 1 Error");
      //}
    });
  })

  $(function() {
    $("#submit").click(function(){
      $.ajax({
      type: "get",
      url: "..\\log.txt",
      dataType: "text",
      async: false
      }).done(function (data) {
      $("#one").html(data.replace(/\r\n/ig, '</br>'));//替换回车行成换行符
      //console.log(data.replace(/\r\n/ig,'</br>'));
      });
    });
  });
</script>
</body>

<body>
  <h2>对话框：</h2>
  <div id="main" style="width:100%;">

    <div id="left"  style="width:60% ;float:left;">
      <div id="one" style="width: 600px;background: yellow;margin: 10px;;"></div>
    </div>

    <div id="right" style="width:40%;float:left;">
      <img src="imags/timg.gif" alt="" />
    </div>
  </div>
</body>
</html>